/* TZ Widgets Extra styles */

/*** Contents:
 * - TZ Socials
 * - TZ Search
 * - TZ Login/Register
 * - TZ Cart for Woocommerce
 * - TZ Contacts
 * - TZ Payment Icons
 * - TZ Most viewed Posts
 * - TZ Categories
 * - TZ Hot Offers
 * - Helper Classes
 */

/* TZ Socials */

.widget_tz_socials ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}

.widget_tz_socials ul li {
  float: none;
  margin: 0;
  display: block;
  list-style: none;
  border: 0 none;
}

.widget_tz_socials ul li:before {
  display: none;
  content: '';
  padding: 0;
  margin: 0;
}

.widget_tz_socials ul.inline-mode {
  display: inline-block;
  vertical-align: middle;
}

.widget_tz_socials ul.inline-mode:after {
  display: block;
  content: '';
  clear: both;
}

.widget_tz_socials ul.inline-mode li {
  display: inline-block;
  float: none;
  margin: 0 10px 0 0;
  padding: 0;
}

.widget_tz_socials ul.inline-mode li:last-of-type {
  margin: 0;
}

.widget_tz_socials ul.inline-mode li i {
  padding: 7px 3px;
  width: 42px;
  text-align: center;
  background: #b6b6b6;
  color: #f6f6f6;
  margin: 0 0 10px 0;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

.widget_tz_socials ul.inline-mode.icons-small li i {
  padding: 10px 3px;
  width: 40px;
}

.sidebar .widget_tz_socials ul li i {
  text-align: center;
}

.widget_tz_socials ul li i+span {
  font-size: 14px;
  padding: 0 0 0 10px;
  vertical-align: middle;
}

.widget_tz_socials ul.icons-small {
  font-size: 20px;
}

.widget_tz_socials ul.icons-medium {
  font-size: 28px;
}

.widget_tz_socials ul.icons-large {
  font-size: 32px;
}

.sidebar .widget_tz_socials ul.icons-small li i {
  width: 20px;
}

.sidebar .widget_tz_socials ul.icons-medium li i {
  width: 28px;
}

.sidebar .widget_tz_socials ul.icons-large li i {
  width: 36px;
}

.widget_tz_socials ul.icons-small.rectangles li i {
  min-width: 42px;
}

.widget_tz_socials ul.icons-medium.rectangles li i {
  width: 42px;
  padding: 7px 0;
  text-align: center;
}

.widget_tz_socials ul.inline-mode.rectangles li i {
  margin-bottom: 10px;
}

.widget_tz_socials ul.icons-large.rectangles li i {
  min-width: 42px;
}

.widget_tz_socials ul.rectangles a {
  color: #fff;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.widget_tz_socials ul.rectangles a:hover, .widget_tz_socials ul.rectangles a:focus, .widget_tz_socials ul.rectangles a:active {
  opacity: 0.8;
}

.widget_tz_socials ul.rectangles i.fa-facebook {
  background-color: #3b5a9a;
}

.widget_tz_socials ul.rectangles i.fa-linkedin {
  background-color: #117bb7;
}

.widget_tz_socials ul.rectangles i.fa-twitter {
  background-color: #28a9e2;
}

.widget_tz_socials ul.rectangles i.fa-google-plus {
  background-color: #e04a39;
}

.widget_tz_socials ul.rectangles i.fa-youtube {
  background-color: #cb312f;
}

.widget_tz_socials ul.rectangles i.fa-instagram {
  background-color: #567d9c;
}

.widget_tz_socials ul.rectangles i.fa-github {
  background-color: #000000;
}

.widget_tz_socials ul.rectangles i.fa-rss {
  background-color: #fca933;
}

.widget_tz_socials ul.rectangles i.fa-pinterest {
  background-color: #cc2129;
}

.widget_tz_socials ul.rectangles i.fa-flickr {
  background-color: #ed1384;
}

.widget_tz_socials ul.rectangles i.fa-bitbucket {
  background-color: #1F5182;
}

.widget_tz_socials ul.rectangles i.fa-tumblr {
  background-color: #31506d;
}

.widget_tz_socials ul.rectangles i.fa-dribbble {
  background-color: #eb4b89;
}

.widget_tz_socials ul.rectangles i.fa-vimeo {
  background-color: #1eb8ea;
}

.widget_tz_socials ul.rectangles i.fa-wordpress {
  background-color: #21769d;
}

.widget_tz_socials ul.rectangles i.fa-delicious {
  background-color: #0000FF;
}

.widget_tz_socials ul.rectangles i.fa-digg {
  background-color: #000000;
}

.widget_tz_socials ul.inline-mode.rectangles li i:hover {
  background-color: inherit;
  opacity: 0.8;
}

@media (min-width: 768px) {
  .widget_tz_socials ul.inline-mode li {
    float: left;
  }
}

/* TZ Search */

.tz-searchform {
  display: block;
  width: auto;
  position: relative;
}

.tz-searchform::after {
  display: table;
  content: '';
  clear: both;
}

.tz-searchform .search-text {
  padding: 0 30px 0 10px;
  height: 40px;
  border-radius: 0;
  box-shadow: inset 0 0 3px 0px rgba(0, 0, 0, 0.1);
  max-width: calc(100% - 40px);
}

.tz-searchform .select-wrapper select {
  height: 40px;
  padding: 0 25px 0 10px;
  box-shadow: none;
  border-radius: 0;
  background-color: #f1f5f7;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
  font-weight: normal;
  width: 100%;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
  border-style: solid;
  border-width: 1px 0 1px 1px;
}

.tz-searchform select:focus {
  outline: none;
}

.tz-searchform .select-wrapper {
  display: inline-block;
  position: relative;
  float: left;
}

.tz-searchform .select-wrapper::after {
  display: inline-block;
  font-family: FontAwesome;
  content: '\f107';
  position: absolute;
  right: 9px;
  top: 10px;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.tz-searchform button.search-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 40px;
  line-height: 52px;
  border-radius: 0;
  width: 60px;
  padding: 0;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.tz-searchform i {
  font-size: 24px;
  color: #fff;
  line-height: 40px;
}

.tz-searchform i::before{
  display: inline-block;
  content: '\e93e';
  font-family: 'chromium';
}

@media (max-width: 320px) {
  .tz-searchform {
    min-width: 100%;
  }
}

@media (max-width: 800px) {
  .tz-searchform {
    min-width: auto;
  }
  .tz-searchform .search-text {
    width: 100%;
  }
}

/* TZ Login/Register */

.widget_tz_login_register {
  text-align: center;
  position: relative;
}

.widget_tz_login_register+.widget:before {
  content: '';
  position: relative;
  display: inline-block;
  height: 40px;
  width: 1px;
  margin: 0 1.571em;
}

.chromium-look-tools .widget_tz_login_register+.widget:before{
  display: none;
}

.tz-login-heading.clickable {
  position: relative;
  cursor: pointer;
  text-align: center;
}

.tz-login-heading .user-icon {
  font-style: normal;
}

.tz-login-heading .user-icon::before {
  display: inline-block;
  vertical-align: top;
  padding: 0 5px 0 0;
  font-size: 14px;
}

.chromium-look-tools .tz-login-heading{
  min-width: 170px;
  text-align: left;
  font-size: 0.867em;
}

.chromium-look-tools .tz-login-heading .logged-in-as{
  display: block;
}
.chromium-look-tools .tz-login-heading .logged-in-as span{
  display: block;
  line-height: 1em;
}

.chromium-look-tools .tz-login-heading .user-icon{
  margin-right: 10px;
}

.chromium-look-tools .tz-login-heading .tz-login-actions{
  display: block;
  margin-top: -6px;
}

.chromium-look-tools .tz-login-heading i{
  color: #fff;
  float: left !important;
}

.chromium-look-tools .tz-login-heading i:before{
  font-size: 24px;
  float: left;
}

.tz-login-heading .my-account {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 1em;
  color: inherit;
  float: none;
  font-weight: 500;
}

.tz-login-heading.inline .my-account {
  display: inline-block;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
}

.tz-login-heading.inline .my-account:after {
  display: inline-block;
  content: '|';
  font-size: 10px;
  padding: 0 0 0 3px;
}

.tz-login-heading p {
  margin: 0;
  font-size: 0.857em;
  line-height: 18px;
  max-width: 165px;
  text-align: center;
}

.tz-login-heading.inline .logged-in-as {
  font-size: 1em;
  display: inline-block;
  line-height: 18px;
  max-width: 100%;
  text-align: left;
  text-transform: uppercase;
}

.tz-login-heading.inline .logged-in-as strong {
  color: #fff;
  font-weight: normal;
  text-transform: none;
}

.tz-login-heading .log-out {
  padding: 0 0 0 5px;
}

.tz-login-heading.inline .log-out {
  padding: 0;
  text-transform: uppercase;
}

.tz-login-heading.inline .log-out::after {
  display: none;
}

.tz-login-form-wrapper {
  background-color: #fff;
  padding: 1.8em 1.2em;
  width: 100vw;
  max-width: 300px;
  position: absolute;
  top: 90px;
  border-style: solid;
  border-width: 1px;
  z-index: 400;
  opacity: 0;
  visibility: hidden;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: translateZ(0);
}

.tz-login-form-wrapper:after, .tz-login-form-wrapper:before {
  display: inline-block;
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -10px;
  left: 10px;
}

.tz-login-form-wrapper:before {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #e7e4d9;
}

.tz-login-form-wrapper:after {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 9px solid #fff;
  top: -9px;
  left: 12px;
}

.tz-login-form-wrapper.opened {
  visibility: visible;
  opacity: 1;
  top: 60px;
}

.ajax-auth .heading {
  text-transform: uppercase;
  font-size: 1.200em;
  font-weight: 500;
  text-align: center;
  padding: 0;
  margin: 0 0 25px 0;
}

.ajax-auth .botom-links {
  border-style: solid;
  border-width: 1px 0 0 0;
  padding: 10px 0 0 0;
}

.tz-login-form-wrapper .ajax-auth .botom-links {
  border: 0;
  padding: 0;
}

.tz-login-form-wrapper .ajax-auth .heading {
  border-style: solid;
  border-width: 0 0 1px 0;
  font-size: 1em;
  text-align: left;
  padding: 0 0 15px 0;
}

.ajax-auth .tz-form-close {
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
    font-size: 11px;
}

.tz-login-form-wrapper .ajax-auth .tz-form-close {
  right: 40px;
  top: 51px;
}

.ajax-auth .tz-form-close i {
  font-size: 14px;
  vertical-align: middle;
  margin: 0 0 0 8px;
}

.tz-login-overlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.6);
  position: fixed;
  z-index: 997;
  left: 0;
  top: 0;
}

form.ajax-auth {
  display: block;
  z-index: 999;
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  font-size: 15px;
  max-width: 350px;
  width: 100%;
  margin: -175px 0 0 -175px;
  padding: 1.8em 1.2em;
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -ms-transform: scale(0.8, 0.8);
  -webkit-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
  opacity: 0;
  visibility: hidden;
}

.tz-login-form-wrapper form.ajax-auth {
  border: 0;
}

form.ajax-auth.visible {
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 1;
}

.tz-login-form-wrapper form.ajax-auth {
  width: 100%;
  display: none;
}

.tz-login-heading.inline .login-button {
  text-transform: uppercase;
  color: #fff;
}

.tz-login-heading.inline .delimiter {
  font-size: 10px;
  padding-left: 3px;
}

@media (min-width: 768px) {
  .tz-login-form-wrapper {
    right: 0px;
  }
  .tz-login-form-wrapper:after, .tz-login-form-wrapper:before {
    right: 10px;
    left: auto;
  }
  .tz-login-form-wrapper:after {
    right: 12px;
  }
  .widget_tz_login_register {
    text-align: left;
  }
}

@media (min-width: 992px) {
  .tz-login-icon-wrapper {
    padding-right: 25px;
    text-indent: 0;
    width: auto;
    height: auto;
    line-height: inherit;
  }
  .tz-login-icon-wrapper i {
    right: 0;
    top: auto;
    left: auto;
    font-size: 18px;
  }
  .tz-login-form-wrapper {}
}

.ajax-auth h3 {
  font-size: 1em;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.ajax-auth input:not(.button) {
  width: 100%;
  margin: 0;
  font-weight: normal;
  padding-right: 50px;
}

.ajax-auth label {
  font-weight: 300;
  margin-bottom: 10px;
  display: none;
}

.ajax-auth .required {
  color: #c0392b;
  padding: 0 0 0 2px;
}

.ajax-auth p {
  position: relative;
  display: block;
  margin: 0 0 15px 0;
}

.header-top .widget .ajax-auth p {
  margin: 0 0 15px 0;
}

.ajax-auth .tz-register-firstname, .ajax-auth .tz-register-lastname {
  display: none;
}

.ajax-auth  p::after {
  font-family: FontAwesome;
  display: inline-block;
  content: '';
  position: absolute;
  right: 15px;
  font-size: 20px;
  top: 5px;
}

.ajax-auth p.username::after {
  content: '\f2be';
}

.ajax-auth p.password::after {
  content: '\f13e';
}

.ajax-auth p.email::after {
  content: '\f0e0';
}

.ajax-auth .submit-wrapper::after, .tz-login-form-wrapper .buttons-wrapper::after {
  display: table;
  content: '';
  clear: both;
  position: relative;
}

.ajax-auth .button, .tz-login-form-wrapper .button.my-account {
  width: auto;
  float: right;
  cursor: pointer;
}

.ajax-auth a.text-link {
  float: left;
  margin: 10px 0 0 0;
}

.ajax-auth p.status {
  text-align: center;
  display: none;
}

.ajax-auth .plugin .footer {
  display: none;
}

.ajax-auth .social-networks-login {
  clear: both;
  height: 70px;
  position: relative;
  overflow: hidden;
  margin-top: 10px;
}

/* TZ Cart for Woocommerce */

.widget_tz_shopping_cart {
  z-index: 400;
  position: relative;
  height: 40px;
}

.widget_tz_shopping_cart .heading {
  display: flex;
  cursor: pointer;
  padding: 0 0 0 48px;
  height: 40px;
  flex-wrap: nowrap;
  align-items: center;
}

.widget_tz_shopping_cart .heading:before {
  display: inline-block;
  content: '\e93a';
  font-size: 28px;
  font-family: 'chromium';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
  color: #000;
}

.chromium-look-tools .widget_tz_shopping_cart .heading:before{
  color: #fff;
}

.chromium-look-tools .widget_tz_shopping_cart .widget-heading{
  color: #bdbdbd;
}

.widget_tz_shopping_cart .heading .cart-count-wrapper {
  display: inline-block;
  width: 18px;
  height: 18px;
  font-size: 12px;
  border-radius: 50%;
  color: #212121;
  line-height: 18px;
  position: absolute;
  text-align: center;
  font-weight: 500;
  top: 1px;
  left: 21px;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

.widget_tz_shopping_cart .heading .subtotal {
  display: block;
  font-weight: 500;
  font-size: 15px;
  position: relative;
  white-space: nowrap;
  text-align: left;
  color: #262626;
}

.chromium-look-tools .widget_tz_shopping_cart .heading .subtotal{
  color: #fff;
}

.widget_tz_shopping_cart .widget-heading {
  font-size: 13px;
}

.widget_tz_shopping_cart .widget-heading + .subtotal {
  align-self: flex-end;
}
.widget_tz_shopping_cart .woocommerce-mini-cart__empty-message {
  text-align: center;
  padding: 0;
  margin: 1.5em 0 0 0;
}

.widget_tz_shopping_cart .widget_shopping_cart_content {
  background-color: #fff;
  padding: 1.8em 1.2em;
  width: 100vw;
  max-width: 300px;
  position: absolute;
  top: 90px;
  right: 0px;
  border-style: solid;
  border-width: 1px;
  z-index: 400;
  opacity: 0;
  visibility: hidden;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: translateZ(0);
}

.widget_tz_shopping_cart .widget_shopping_cart_content:after, .widget_tz_shopping_cart .widget_shopping_cart_content:before {
  display: none;
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -10px;
  right: 10px;
}

.widget_tz_shopping_cart .widget_shopping_cart_content:before {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #e7e4d9;
}

.widget_tz_shopping_cart .widget_shopping_cart_content:after {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 9px solid #fff;
  top: -9px;
  right: 12px;
}

.widget_tz_shopping_cart .variation {
  display: none;
}

.widget_tz_shopping_cart.hovered .widget_shopping_cart_content {
  top: 60px;
  opacity: 1;
  pointer-events: auto;
}

.widget_tz_shopping_cart .mini-cart-heading {
  text-transform: uppercase;
  border-style: solid;
  border-width: 0 0 1px 0;
  font-size: 1em;
  font-weight: 500;
  text-align: left;
  padding: 0 0 15px 0;
}

.widget_tz_shopping_cart ul.cart_list {
  max-height: 323px;
  overflow-y: auto;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 0;
}

.widget_tz_shopping_cart ul.cart_list:before, .widget_tz_shopping_cart ul.cart_list:after {
  height: 40px;
  width: 100%;
  content: '';
  position: absolute;
  z-index: 1;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
  left: 0;
  top: 0;
}

.widget_tz_shopping_cart ul.cart_list:after {
  top: auto;
  bottom: 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.widget_tz_shopping_cart ul.cart_list li, .woocommerce .widget_tz_shopping_cart ul.cart_list li {
  padding: 10px 50px 10px 0;
  margin: 0;
}

.widget_tz_shopping_cart ul.cart_list li:first-of-type {
  padding-top: 30px;
}

.widget_tz_shopping_cart ul.cart_list li:last-of-type {
  padding-bottom: 30px;
}

.widget_tz_shopping_cart ul.cart_list li a.remove {
  position: absolute;
  right: 18px;
  top: 29px;
  width: 20px;
  height: 20px;
  line-height: 18px;
  font-size: 22px;
  text-align: center;
  display: inline-block;
  opacity: 0;
  -webkit-transition: border-color 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out;
  transition: border-color 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  font-weight: lighter;
}

.touch-enabled .widget_tz_shopping_cart ul.cart_list li a.remove {
  opacity: 1;
}

.widget_tz_shopping_cart ul.cart_list li:first-of-type a.remove {
  top: 51px;
}

.widget_tz_shopping_cart ul.cart_list li a.remove:hover, .widget_tz_shopping_cart ul.cart_list li a.remove:focus {
  color: red;
  border-color: red;
}

.widget_tz_shopping_cart ul.cart_list li:hover a.remove {
  opacity: 1;
}

.widget_tz_shopping_cart .widget_shopping_cart_content .total {
  padding: 15px 0 5px 0;
  display: block;
  border-style: solid;
  border-width: 1px 0 0 0;
  text-transform: none;
  margin: 10px 0 0 0;
  font-size: 1.143em;
  font-weight: 500;
  line-height: 1.2;
  text-align: right;
}

.widget_tz_shopping_cart .widget_shopping_cart_content .total strong {
  font-weight: normal;
  font-size: 0.875em;
  float: left;
}

.widget_tz_shopping_cart .widget_shopping_cart_content .total::after {
  display: table;
  content: '';
  clear: both;
}

@media (min-width: 768px) {
  .widget_tz_shopping_cart .widget_shopping_cart_content:after, .widget_tz_shopping_cart .widget_shopping_cart_content:before {
    display: inline-block;
  }
}

@media (min-width: 992px) {}

/* TZ Contacts */

.widget_tz_contacts ul {
  padding: 0;
}

.widget_tz_contacts ul li {
  margin: 0;
  display: inline-block;
  width: 100%;
  border: 0;
  padding: 0 0 5px 30px;
  position: relative;
  text-align: left;
}

.widget_tz_contacts ul li.a-email a {
  color: #fff;
  font-weight: 500;
}

.widget_tz_contacts ul li:before {
  content: '';
  font-family: FontAwesome;
  vertical-align: baseline;
  display: inline-block;
  padding: 0;
  font-size: inherit;
  width: 25px;
  text-align: left;
  position: absolute;
  left: 0;
  color: inherit;
}

.widget_tz_contacts ul span.label {
  display: none;
}

.widget_tz_contacts ul li.a-logo:before {
  width: 0;
  border: 0;
  height: 0;
  display: none;
}

.widget_tz_contacts ul li.a-logo {
  margin-bottom: 25px;
  padding: 0;
  text-align: center;
  max-width: 180px;
}

.widget_tz_contacts ul li.a-email:before {
  content: "\f0e0";
}

.widget_tz_contacts ul li.a-skype:before {
  content: "\f17e";
}

.widget_tz_contacts ul li.a-fx:before {
  content: "\f1ac";
}

.widget_tz_contacts ul li.a-phone:before {
  content: "\f095";
}

.widget_tz_contacts ul li.a-address:before {
  content: "\f041";
}

.widget_tz_contacts ul li.a-hours:before {
  content: "\f017";
}

@media (min-width: 768px) {
  .widget_tz_contacts ul li.a-logo {
    text-align: left;
  }
}

/* TZ Payment Icons */

.widget_tz_pay_icons ul.inline-mode li {
  margin: 0 10px 10px 0;
  display: inline-block;
  border: 0;
  padding: 0;
}

.widget_tz_pay_icons ul li:before {
  content: '';
  display: none;
  padding: 0;
}

.widget_tz_pay_icons img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.widget_tz_pay_icons img:hover {
  filter: none;
}

/* TZ Most viewed Posts */

.site-sidebar .widget ul.posts-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-sidebar .widget ul.posts-list li {
  list-style: none;
  border: 0;
  padding: 0;
  margin-bottom: 24px;
}

.site-sidebar .widget ul.posts-list li:last-of-type {
  margin-bottom: 0;
}

.site-sidebar .widget ul.posts-list li:after {
  display: table;
  content: '';
  clear: both;
}

.site-sidebar .widget ul.posts-list li .thumb-wrapper {
  max-width: 80px;
  max-height: 80px;
  display: inline-block;
  float: left;
  margin: 0 1em 0 0;
}

.site-sidebar .widget ul.posts-list li .content-wrapper {
  display: block;
  float: none;
  overflow: hidden;
}

.site-sidebar .widget ul.posts-list li h4 {
  margin: -2px 0 0 0;
  font-weight: 400;
  font-size: 15px;
}

.site-sidebar .widget ul.posts-list li h4 a {
  color: inherit;
}

.site-sidebar .widget ul.posts-list li .entry-meta div {
  margin: 5px 10px 0 0;
  display: inline-block;
  font-size: 12px;
}

.site-sidebar .widget ul.posts-list li .entry-meta div.post-date {
  display: block;
}

.site-sidebar .widget ul.posts-list li i {
  padding-right: 5px;
  font-size: 16px;
  vertical-align: middle;
  height: 20px;
  line-height: 20px;
  display: inline-block;
}

.recent-posts-entry-content {
  margin: 10px 0 0 0;
}

.recent-posts-entry-content p {
  margin: 0;
}

/* TZ Categories */

.widget.widget_tz_categories ul li {
  padding: 5px 0;
  margin: 0
}

.widget_tz_categories li:after {
  display: table;
  content: '';
  clear: both;
}

.widget_tz_categories .cat-img-wrap {
  max-width: 25px;
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}

.widget_tz_categories a, .widget_tz_categories .count {
  display: inline-block;
}

.widget_tz_categories .count {
  height: 20px;
  display: inline-block;
  padding: 0 4px;
  font-size: 12px;
  border-radius: 2px;
  line-height: 20px;
  background: #f1f5f7;
  margin: 0 0 0 1em;
}

.widget_tz_categories .show-children {
  float: right;
  outline: none;
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  margin: 3px 0 0 8px;
  color: #c7c7c7;
}

.widget_tz_categories .show-children:before, .widget_tz_categories .show-children:after {
  display: inline-block;
  content: '';
  position: absolute;
  right: 4px;
  top: 8px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 10px;
  height: 2px;
  background-color: #c7c7c7;
}

.widget_tz_categories .show-children:after {
  right: 8px;
  top: 4px;
  width: 2px;
  height: 10px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.widget_tz_categories .show-children.collapsed:after {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.widget_tz_categories .children {
  margin: 5px 0 0 18px;
}

.widget_tz_categories .children li a:not(.show-children):before {
  content: "-";
  display: inline-block;
  width: 15px;
  text-align: left;
}

.widget_tz_categories .children li .cat-img-wrap+a:not(.show-children):before {
  display: none;
}

.sidebar .widget_tz_categories .children li:first-of-type {
  padding-top: 12px;
}

.sidebar .widget_tz_categories .children li:last-of-type {
  padding-bottom: 12px;
}

/* Alternative styling for widget */

.widget_tz_categories.alt-style {
  border-style: solid;
  border-width: 2px;
  background-color: #fff;
}

.site-sidebar.style-3 .widget_tz_categories.alt-style,
.site-sidebar.style-2 .widget_tz_categories.alt-style,
.site-sidebar.style-1 .widget_tz_categories.alt-style {
  padding: 0;
  background-color: #fff;
}

.widget_tz_categories.alt-style ul.pt-categories {
  padding: 15px 25px;
}

.widget_tz_categories.alt-style .widget-title,
.site-sidebar.style-1 .widget.widget_tz_categories.alt-style .widget-title {
  padding: 15px 25px 14px;
  margin: 0;
  border: 0;
  display: block;
}

.widget.widget_tz_categories.alt-style ul li {
  border-style: solid;
  border-width: 0 0 1px 0;
  padding: 10px 4px 9px 4px;
}

.widget.widget_tz_categories.alt-style ul li:last-child {
  border-width: 0 0 0 0;
  padding: 10px 4px 10px 4px;
}

.widget.widget_tz_categories.alt-style ul.children li {
  border-width: 0;
  padding: 8px 0;
}

.widget_tz_categories.alt-style .show-children:after {
  display: none;
}

.widget_tz_categories.alt-style .show-children:before {
  display: inline-block;
  content: '\e91b';
  font-family: 'chromium';
  position: absolute;
  right: 0;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  width: 18px;
  height: 18px;
  color: #101010;
  font-size: 10px;
  line-height: 18px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: transparent;
  top: -1px;
}

.widget_tz_categories.alt-style .show-children.collapsed:before {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

/* TZ Hot Offers */

.widget.widget_tz_hot_offers .widget-title {
  padding-right: 45px;
}

.widget_tz_hot_offers .slider-navi {
  right: 0;
  font-size: 15px;
  top: -59px;
  position: absolute;
  display: none;
}

.widget_tz_hot_offers .slider-navi span {
  cursor: pointer;
}

.widget_tz_hot_offers .slider-navi span::after {
  content: '\e938';
  font-family: 'chromium';
}

.widget_tz_hot_offers .slider-navi span.next::after {
  content: '\e939';
  font-family: 'chromium';
}

.widget_tz_hot_offers .slider-navi span + span {
  margin-left: 10px;
}

.chromium-product-style-2 .widget_tz_hot_offers .owl-carousel .owl-stage-outer,
.chromium-product-style-3 .widget_tz_hot_offers .owl-carousel .owl-stage-outer,
.chromium-product-style-4 .widget_tz_hot_offers .owl-carousel .owl-stage-outer {
  width: 100%;
  padding-left: 0;
  margin-left: 0;
}

.widget_tz_hot_offers ul.products li.product {
  margin: 0;
  padding: 0;
}

.chromium-product-style-3 .widget_tz_hot_offers ul.products:not(.list-view) li,
.chromium-product-style-3 .widget_tz_hot_offers ul.products:not(.list-view) li:hover {
  box-shadow: none;
}

.widget_tz_hot_offers ul.products {
  margin: 0;
  opacity: 0;
  height: 350px;
  -webkit-transition: opacity 0.3s ease-out, height 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out, height 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out, height 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out, height 0.3s ease-out;
  transition: opacity 0.3s ease-out, height 0.3s ease-out;
}

.widget_tz_hot_offers .product.badges-style-1 .onsale,
.widget_tz_hot_offers .product.badges-style-2 .onsale {
  display: none;
}

.widget_tz_hot_offers .hot-offers-wrapper {
  position: relative;
}

.widget_tz_hot_offers li.product .img-wrapper {
  margin: 0 0 1em 0;
  padding: 0;
}

.chromium-product-style-2 .widget_tz_hot_offers li.product .buttons-wrapper,
.chromium-product-style-3 .widget_tz_hot_offers li.product .buttons-wrapper {
  display: none;
}

.widget_tz_hot_offers li.product .excerpt-wrapper {
    padding: 0;
}

.widget_tz_hot_offers .countdown-wrapper {
  display: block;
  margin: 20px 0 20px 0;
}

.widget_tz_hot_offers .countdown-section+.countdown-section::before {
  display: inline-block;
  content: ':';
  font-size: 2em;
  position: absolute;
  left: -6px;
  top: 3px;
  color: #cacaca;
}

.widget_tz_hot_offers .countdown-wrapper p {
  font-size: 16px;
  margin: 0;
  font-weight: lighter;
}

.widget_tz_hot_offers .countdown-row {
  display: block;
}

.widget_tz_hot_offers .countdown-row::after {
  display: table;
  content: '';
  clear: both;
}

.widget_tz_hot_offers .countdown-section {
  display: inline-block;
  float: left;
  width: 22%;
  margin: 0 1%;
  padding: 4px;
  position: relative;
}

.widget_tz_hot_offers .countdown-amount {
  font-size: 20px;
  display: block;
  text-align: center;
  font-weight: 500;
}

.widget_tz_hot_offers .countdown-period {
  display: block;
  font-size: 10px;
  text-align: center;
  height: 12px;
  text-transform: uppercase;
  line-height: 12px;
  margin-top: 14px;
}

@media (min-width: 768px) {
  .widget_tz_hot_offers .slider-navi {
    display: block;
  }
}

/* Helper Classes */

.collapse {
  display: none;
}

.collapse.in {
  display: block;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

.widget .precontent {
  margin-bottom: 20px;
}

.widget .postcontent {
  margin-top: 0;
}
