#rb_the_logo { /*display: inline-block; line-height: 50px;  color: #777c80; font-size: 16px; font-weight: 900; text-align: center*/ width: 50px;height: 50px; background:url(../images/wplogo.png); background-size:30px 30px; background-repeat: no-repeat; background-position: center; cursor: pointer }

/* SEARCH TEXT */
.rs_overview input.flat_input { font-size: 20px; color:#fff; background: none; border: none; outline:none; box-shadow: none; font-weight: 500;  line-height:50px; padding: 0px; margin: 0px; vertical-align: top  }

.rs_overview  input.flat_input::-webkit-input-placeholder  { color: #fff;}
.rs_overview  input.flat_input::-moz-placeholder            { color: #fff;}
.rs_overview  input.flat_input:-ms-input-placeholder       { color: #fff;}
.rs_overview  input.flat_input:-moz-placeholder            { color: #fff;}

.rs_overview  input.flat_input:hover::-webkit-input-placeholder  { color: #fff !important;}
.rs_overview  input.flat_input:hover::-moz-placeholder            { color: #fff !important; }
.rs_overview  input.flat_input:hover:-ms-input-placeholder       { color: #fff !important;}
.rs_overview  input.flat_input:hover:-moz-placeholder            { color: #fff !important;}

.rs_overview  input.flat_input:focus::-webkit-input-placeholder  { color: transparent !important;}
.rs_overview  input.flat_input:focus::-moz-placeholder            { color: transparent !important; }
.rs_overview  input.flat_input:focus:-ms-input-placeholder       { color: transparent !important;}
.rs_overview  input.flat_input:focus:-moz-placeholder            { color: transparent !important;}

/* CODE INPUT */

.rs_overview input.codeinput { font-size: 17px; color:#fff; background: none; border: 1px solid #323438; outline:none; box-shadow: none; font-weight: 500;  line-height:50px; padding: 0px 20px;  width:100%;}

.rs_overview  input.codeinput::-webkit-input-placeholder  { color: #b7bbc0;}
.rs_overview  input.codeinput::-moz-placeholder            { color: #b7bbc0;}
.rs_overview  input.codeinput:-ms-input-placeholder       { color: #b7bbc0;}
.rs_overview  input.codeinput:-moz-placeholder            { color: #b7bbc0;}

.rs_overview  input.codeinput:hover::-webkit-input-placeholder  { color: #fff !important;}
.rs_overview  input.codeinput:hover::-moz-placeholder            { color: #fff !important; }
.rs_overview  input.codeinput:hover:-ms-input-placeholder       { color: #fff !important;}
.rs_overview  input.codeinput:hover:-moz-placeholder            { color: #fff !important;}

.rs_overview  input.codeinput:focus::-webkit-input-placeholder  { color: transparent !important;}
.rs_overview  input.codeinput:focus::-moz-placeholder            { color: transparent !important; }
.rs_overview  input.codeinput:focus:-ms-input-placeholder       { color: transparent !important;}
.rs_overview  input.codeinput:focus:-moz-placeholder            { color: transparent !important;}

.rs_overview .select2RS-container { vertical-align: top;  margin-right: 40px; box-sizing: content-box; padding-right: 25px; height:50px; font-weight: 500}
.rs_overview .select2RS-container.select2RS-container--nomargin { margin-right: 0px; }
.rs_overview .select2RS-container .select2RS-selection--single .select2RS-selection__arrow { height: 50px; }
.rs_overview .select2RS-container .select2RS-selection { box-shadow:none;outline:none;border: none; padding:0px; margin:0px; display: inline-block;font-size: 17px; color: #797b7e; background: transparent  }

.rs_overview .select2RS-container .select2RS-selection--single .select2RS-selection__rendered { color:#797b7e; line-height: 50px; vertical-align: top }
.rs_overview .select2RS-container .select2RS-selection--single .select2RS-selection__arrow b { border-color: #797b7e transparent transparent transparent }

.rs_overview .select2RS-container:hover .select2RS-selection--single .select2RS-selection__arrow b { border-color: #fff transparent transparent transparent }
.rs_overview .select2RS-container:hover .select2RS-selection__rendered { color: #fff !important; }

/* BLUE STYLE */
.rs_overview .select2RS-container.select2RS-container--blue { width: 100% !important; background: #00529d; line-height: 20px; border-radius: 4px; box-sizing: border-box; height: auto; padding:0px !important; margin:0px;}
.rs_overview .select2RS-container.select2RS-container--blue  .selection,
.rs_overview .select2RS-container.select2RS-container--blue .select2RS-selection{ width: 100% !important; }
.rs_overview .select2RS-container.select2RS-container--blue .select2RS-search__field { color: #fff !important; line-height: 20px;  }

.rs_overview .select2RS-container.select2RS-container--blue .select2RS-selection { box-shadow:none;outline:none;border: none; padding:0px; margin:0px; display: inline-block;font-size: 12px; color: #fff; background: transparent  }
.rs_overview .select2RS-container--blue .select2RS-selection__rendered { color:#fff; line-height: 20px; vertical-align: top ; }
.rs_overview .select2RS-container--blue .select2RS-selection--single .select2RS-selection__rendered { color:#fff; line-height: 22px; vertical-align: top ; padding:5px 10px 0px; display: block}

.rs_overview .select2RS-container--blue .select2RS-selection__rendered .select2RS-selection__choice { color:#fff; line-height: 20px; vertical-align: top; background: #006dd2; border-radius: 4px; border: none; }
.rs_overview .select2RS-container--blue .select2RS-selection__rendered .select2RS-selection__choice__remove { color:#fff; line-height: 20px; vertical-align: top;  }


.select2RS-container.select2RS-container--blue.select2RS-container--open .select2RS-dropdown.select2RS-dropdown--below,
.select2RS-container.select2RS-container--blue.select2RS-container--open .select2RS-dropdown.select2RS-dropdown--above { width: 267px !important; min-width:267px; background: #006dd2; margin-left:-5px; margin-top:5px;}

.select2RS-container.select2RS-container--blue.select2RS-container--open .select2RS-results__options {  }
.select2RS-container.select2RS-container--blue.select2RS-container--open .select2RS-results__option { color: rgba(255,255,255,0.65); }
.select2RS-container.select2RS-container--blue.select2RS-container--open .select2RS-results__option.select2RS-results__option--highlighted { background: #00529c; color: #fff; }
.select2RS-container.select2RS-container--blue.select2RS-container--open .select2RS-results__option.select2RS-results__option--highlighted[aria-selected=true], .select2RS-container .select2RS-results__option[aria-selected=true] { background: #1a7cd7;color: #fff; }


.rs_overview .select2RS-container.select2RS-container--blue .select2RS-selection--single .select2RS-selection__arrow { height: 30px; ;}
.rs_overview .select2RS-container.select2RS-container--blue .select2RS-selection--single .select2RS-selection__arrow b { border-color: #fff transparent transparent transparent  }

.select2RS-container.select2RS-container--blue .select2RS-search--dropdown .select2RS-search__field { background: #00529d; color: #fff; }


/* AUTOWIDTH CHANGES */
.select2RS.select2RS-container.select2RS-container--autowidth { width: auto !important; }
.select2RS-container.select2RS-container--autowidth .select2RS-dropdown { min-width: 150px; }

.rs_fh_left { float: left; display: inline-block; line-height: 50px; vertical-align: top }
.rs_fh_right { float: right;  text-align: right; line-height: 50px; vertical-align: top}


/**********************************
  - REVOLUTION BUTTON BAISCS  -
***********************************/


.basic_action_coloredbutton,
.basic_action_button   { text-decoration:none; text-align:left;background: #3a3e44; width:160px; color: #b7bbc0;line-height: 30px; padding: 0px 15px; font-size: 13px; font-weight: 400; display: inline-block; box-sizing: border-box;  margin-bottom: 10px; cursor: pointer; vertical-align: top; border-radius: 3px}

.basic_action_button:focus { outline: none; box-shadow: none; }

.basic_action_button.disabled { pointer-events: none; background: #35383d; color: rgba(183,187,192,0.4); }
.basic_action_button.disabled i {  color: rgba(183,187,192,0.4);}

.basic_action_coloredbutton.longbutton,
.basic_action_button.longbutton     {  width: 185px; text-align: center; }

.basic_action_coloredbutton.fullbutton,
.basic_action_button.fullbutton     {  width: 100%; text-align: center; }

.basic_action_coloredbutton.autosize,
.basic_action_button.autosize { width: auto; margin-right: 5px; }

.basic_action_coloredbutton.rightbutton,
.basic_action_button.rightbutton { float: right; margin-right: 0px }

.basic_action_coloredbutton i,
.basic_action_button i { color: #b7bbc0;font-size: 17px; margin-right: 10px }

.basic_action_coloredbutton { color: #fff; background: #006dd2 }
.basic_action_lilabutton { color: #fff; background: #5e35b1 }
.basic_action_lilabutton i { color: #fff; }



.dark_action_button { background: #2a2c2f; }

.big_purple_linkbutton { line-height: 70px; width: 100%; background: #5d36ad; color: #fff; font-weight: 300;cursor: pointer; font-size: 20px; text-align: center }
.big_purple_linkbutton b { font-weight: 500; }
.big_purple_linkbutton:hover { filter: brightness(110%); }


.basic_action_coloredbutton:hover,
.basic_action_coloredbutton.selected { background: #0b5fab; }

.basic_action_coloredbutton i { color: #fff; }

.basic_action_button:hover,
.basic_action_button.selected { color: #fff; background: #006dd2; }



.basic_action_button.errorcopy { transition:0.4s all;  border-color: #f82c90 !important; color:#f82c90 !important;}
.basic_action_button:hover i { color: #fff; }

.basic_action_lilabutton:hover { background: #5e35b1;filter: brightness(110%) }

.large_actionbutton.basic_action_coloredbutton {  line-height: 50px; font-size: 17px; font-weight: 500; padding:0px 45px; border:none; background:#006dd2; min-width: 160px; text-align: center}
.large_actionbutton.basic_action_button  { line-height: 50px; font-size: 17px; font-weight: 500; padding:0px 45px; border:none; background:#2a2c2f; min-width: 160px; text-align: center}
 
.basic_action_coloredbutton:hover { filter: brightness(110%);}

/**********************************
  - REVOLUTION BUILDER MODAL -
***********************************/

#rb_modal_underlay {position: fixed; background: rgb(50,52,56); opacity:0; width: 100%; height: 100%; top: 0px; left: 0px; z-index: 500000; display: none;  }
.rb-modal-wrapper {display: none;opacity: 0;position: fixed;left: 0;top: 0;width: 100%;height: 100%;z-index: 1000000;}

.rb-modal-wrapper .rb-modal-inner {  position: relative;width: 100%;height: 100%;}

.rb-modal-wrapper .rb-modal-content {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}

.rb-modal-wrapper .rb_modal {position: relative; width: 900px;margin: 0 auto;background: #323438; box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.5);}


.rb-modal-wrapper[data-modal="rbm_layer_metas"] { z-index:1000005 }

.rb_modal.form_inner { padding: 0px !important; }
.rbm_header { background:#2a2c2f; line-height:50px; padding:0px 20px; color:#b7bbc0; position: relative; cursor:move;}
i.rbm_symbol.material-icons { line-height: 50px; font-size: 20px; margin-right: 15px;  }
i.rbm_close.material-icons { line-height: 50px; width: 50px; position: absolute; right: 0px; top: 0px; text-align: center; display: block; font-size: 25px; color: #b7bbc0; cursor: pointer;}
.rbm_title { line-height: 50px; font-size: 15px; font-weight: 500; vertical-align: top;}

.rbm_darkbutton { display: inline-block; width:100%; line-height: 40px; text-align: center;  color:#b7bbc0; font-size:13px; background: #3a3e44; margin-top:1px; box-sizing: border-box; cursor:pointer;}
.rbm_darkbutton i.material-icons { color: inherit; margin-right:10px; font-size: 20px }
.rbm_darkbutton:hover { color: #fff; background: #006dd2; }


.rbm_content_left,
.rbm_content_right { min-width: 50%; max-width:50%; width:50%; box-sizing: border-box; display: block; height: 100%; display: table-cell; position: relative; vertical-align: top }

.rbm_content_left { border-right: 1px solid #2a2c2f; }

#rbm_layer_action.inpickermode .rbm_content_left { pointer-events: none !important }



#rbm_preview { width: 1240px; height: 680px; }
.rbm_preview_sizes,
.rbm_subtitle { margin-left: 25px; border-left: 1px solid #333438; padding-left: 25px; display: inline-block; line-height: 50px; width: 210px; }

.rbm_subtitle i.material-icons { color: #026dd2; font-size: 17px; margin-right: 10px; }

.rbm_preview_sizes i.material-icons { color: #777c80; margin-right: 10px; cursor: pointer; font-size: 20px}
.rbm_preview_sizes i.material-icons:hover,
.rbm_preview_sizes i.material-icons.selected { color: #fff; } 

#rbm_preview .rbm_content { position: absolute;width: 100%;height: 100%;top:50px; left: 0px; }
#rbm_preview_live { overflow: hidden;position: absolute;width: 100%;height:100%;}
 

#rbm_quickguide,
#rbm_quickguide .rbm_content { width: 1200px;  }
#rbm_quickguide .rbm_content { position: relative;  height:750px; overflow: hidden}
#rbm_globalsettings { width: 650px; min-height: 800px; }
#rbm_decisionModal { width: 500px; min-height: 300px; }
#rbm_globalsettings .rbm_content,
#rbm_decisionModal .rbm_content { padding: 50px; }

#rbm_welcomeModal { width: 1200px; }
#rbm_welcomeModal .rbm_content{ background-image:url(../images/wc.jpg); background-position:top center; background-repeat:no-repeat; background-color:#212226;}
#welcome_logo { background: url(../images/wc_logo.png); background-size: contain; width:300px; height:100px; position: relative; margin:0px auto; display:block; margin-bottom:90px;}


#rbm_globalsettings .rbm_content label_a { min-width: 240px; width: 240px; }



.rbm_darkhalfbutton {  display: inline-block; width:195px; line-height: 32px; text-align: center;  color:#b7bbc0; font-size:13px; background: #3a3e44; margin-top:1px; box-sizing: border-box; cursor:pointer; box-sizing: border-box; border-radius: 4px}
.rbm_darkhalfbutton i.material-icons { color: inherit; margin-right:10px; font-size: 17px }
.rbm_darkhalfbutton:hover { color: #fff; background: #006dd2; }
.mcg_footer_content { z-index: 5; position: relative;width: 100%;height: 100%; padding: 20px 30px; box-sizing: border-box }
.mcg_fotter_text { font-size: 14px;color: #777c80;line-height: 21px;display: inline-block;margin-left: 40px;padding: 20px 0px;font-weight: 500; max-width: 505px;}
.mcg_fotter_text strong { color: #fff;  }


mcg_guide_image { width: 280px; height: 160px; background-position: top left; background-size: 280px 320px; display: block; position: relative; margin-bottom:35px;}

.mcg_guide_optionwrap { position: relative; }
.mcg_guide_optionwrap:hover mcg_guide_image,
.mcg_guide_optionwrap.selected mcg_guide_image{ background-position: bottom left; }

#rb_tlw .mcg_guide_optionwrap input[type=radio] { width: 100%;height: 100%; opacity: 0; border-radius: 0px; box-shadow: none; outline: none; position: absolute;top: 0px;left: 0px;  z-index:10;}

.guide_slider { background-image: url(../images/guide/guide_slider.jpg);}
.guide_scene { background-image: url(../images/guide/guide_scene.jpg);}
.guide_carousel { background-image: url(../images/guide/guide_carousel.jpg);}

.guide_auto { background-image: url(../images/guide/guide_auto.jpg);}
.guide_fullwidth { background-image: url(../images/guide/guide_fullwidth.jpg);}
.guide_fullscreen { background-image: url(../images/guide/guide_fullscreen.jpg);}

.guide_autoresponsive { background-image: url(../images/guide/guide_autoresponsive.jpg);}
.guide_intelligent { background-image: url(../images/guide/guide_intelligent.jpg);}
.guide_manual { background-image: url(../images/guide/guide_manual.jpg);}

.rb-modal-wrapper[data-modal="rbm_layerimport"]    { z-index: 500005 }
.rb-modal-wrapper[data-modal="rbm_decisionModal"]  { z-index: 1500010 }

/*COPY RIGHT */
#rs_copyright { margin-left:260px; color:#7e8083; font-size:17px; cursor:pointer;}
#rs_copyright:hover { color: #fff; }

/*COPY RIGHT PANELS*/
#rbm_copyright { width: 1000px; }
#rbm_copyright .rbm_content_left { min-width: 250px;background: #323438;width: 250px;padding: 41px 40px;height: 600px; }
#rbm_copyright .rbm_content_right { min-width: 250px;background: #212226;padding: 39px 50px; width:100%;height: 600px;}
.copyright_sel { line-height: 39px; font-size: 17px; color: #797b7e; cursor: pointer ; vertical-align: top; font-weight: 500}
.copyright_sel i { margin-right: 15px; line-height: inherit !important }

.copyright_sel:hover,
.copyright_sel.selected { color: #fff; }

.crm_content_wrap { display: none; }
.crm_content_wrap.selected { display: block; }
.crm_title { font-size: 20px; font-weight: 500; color: #fff;  line-height: 40px; margin-bottom:30px;}

.crm_content { display: table; margin-bottom: 15px; }
.crm_arrow { display: table-cell; width: 30px; max-width: 30px; line-height: 22px;vertical-align: top; color: #777c80; font-s ize: 20px; }
.crm_text { display: table-cell; width: 100%; line-height: 22px; font-size: 14px; color: #777c80; font-weight: 400;}
.crm_text b { color: #fff; font-weight: 500; }
.crm_text a { color: #fff; font-weight: 400; text-decoration: underline; cursor: pointer; }
.crm_text a:hover,
.crm_text a:focus { text-decoration: none; color: #fff; outline:none; box-shadow: none; border:none;}

.crm_info_text { line-height: 22px; color: #777c80; font-size: 12px; font-weight: 400; }
.crm_infostar { line-height: 22px; vertical-align: top; display: inline-block; font-size: 12px }

.crm_basic_button { color: #fff !important; margin-bottom: 20px;  }
.crm_basic_button:hover,
.crm_basic_button:focus { color: #fff; }

/* REST*/

.overview_header_footer,
.overview_header { opacity: 0; visibility: hidden }

.tp-clearfix      {display: block;height: 0px;width: 100%;}
.tp-clearfix {  clear:both;}

.tos2 { visibility: hidden; }


/****************************
  - BEGIN OBJECT LIBRARY - 
****************************/

#objectlibrary .material-icons,
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;  
  display: inline-block;  
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: top;
  line-height: inherit;  
  -webkit-font-smoothing: antialiased;  
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';  
}

#objectlibrary { font-family: "Roboto" }
#objectlibrary { -webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;-webkit-touch-callout: none;text-rendering: optimizeLegibility;}
#objectlibrary .tponoffwrap.off .tponoff_inner { transform: translateX(0px); }
#objectlibrary i.material-icons.reset_select {    cursor: pointer; width: 25px;height: 25px;line-height: 25px !important;text-align: center;font-size: 17px !important; border-radius:3px; margin-top: 12px;color: #fff;background: #006dd2;display: inline-block;margin-right: 10px; display: none}

#objectlibrary { z-index: 100000; position: fixed; width: 100%; height: 100%; top: 0px;left: 0px; background: #202224; display:none;}
#ol_filters_wrap { width: 250px; height:100%; position: absolute; left: 0px; top: 0px; background: #323438; z-index: 45; }
#ol_close { position: relative;  vertical-align: top; text-align: center; color: #b7bbc0; cursor: pointer; z-index: 100000; font-size:30px;margin-left: 20px}
#ol_close:hover { color: #fff; }

#ol_results_wrap { width: 100%; height: 100%; top: 0px;left: 0px; z-index:30; box-sizing: border-box; overflow:hidden;position: relative}
#ol_results { box-sizing: border-box; position: relative;}
#ol_right   { padding: 90px 0px 70px 300px; width:100%; height:100%; box-sizing: border-box; position: relative; overflow:hidden; z-index: 30}
#ol_right_underlay {  background: rgba(32,34,36,0.65); position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 50; display: none; cursor: pointer}
#ol_header  { position: fixed; line-height: 50px; width: 100%; display: block; top:0px; left:0px; z-index:40;  background:#202224; padding:10px 30px 10px 300px; box-sizing: border-box;}
#ol_footer  { position: fixed; line-height: 50px; width: 100%; display: block; bottom:0px; left:0px; z-index: 40; background:#202224; padding:10px 40px; box-sizing: border-box}
#objectlibrary .rb_the_logo { position:absolute; top:15px; left:15px; height:20px; line-height: 20px;  color: #2a2c2f; background:#b7bbc0; border-radius:4px; font-size: 15px; font-weight: 900; text-align: center ; z-index: 50; padding: 0px 5px;letter-spacing: -1px }
#ol_filters { padding: 70px 20px 70px 40px; box-sizing: border-box; display: block;  position: relative; height: 100%; width: 100%; overflow: hidden; }
#searchobjects { font-size: 20px; color:#fff; background: none; border: none; outline:none; box-shadow: none; font-weight: 500;  line-height:50px; padding: 0px; width: 350px; }

#obj_fil_favorite,
#obj_updatefromserver,
#obj_addsliderasmodal { font-size: 17px; color: #797b7e; font-weight: 500; display: inline-block; margin-right: 25px; cursor: pointer }
#obj_fil_favorite i.material-icons,
#obj_updatefromserver i.material-icons { font-size: 17px; margin-right: 5px; }

#obj_updatefromserver { margin-left: 20px; margin-right: 0px}

#obj_fil_favorite:hover,
#obj_updatefromserver:hover,
#obj_fil_favorite.selected { color: #fff; }

#ol_pagination_wrap { display: inline-block; margin-right:20px;}

#objectlibrary.rs_overview .select2RS-container { margin-right: 0px; }

.ol_filter_listelement{ font-size: 17px; color: #797b7e; line-height: 30px; cursor: pointer; vertical-align: top; position: relative; font-weight: 500}
.ol_filter_listelement:hover,
.ol_filter_listelement.selected { color: #fff; }
.filter_type_name,
.filter_tag_name { text-transform: capitalize }
.ol_filter_listelement i.material-icons { margin-right: 10px; }
.filter_type_name,.ol_filter_listelement i.material-icons { line-height: 30px; vertical-align: top; display: inline-block }

.filtergroup_opener { position: absolute; right: 0px; top: 0px; width: 30px; height: 30px;  margin:0px; text-align: right; transform-origin: "50% 50%"}
.ol_filter_group { margin: 0px; padding: 0px; display: none; }
.ol_filter_type { margin-bottom: 10px; }
.ol_filter_type.open .ol_filter_group { display: block; }
.ol_filter_type.open .filtergroup_opener { transform: scaleY(-1); }

 li.ol_filter_listelement { padding-left: 40px; margin:5px 0px;}


/* OBJECT LIBRARY ITEMS */
.olibrary_item { width:267px; height: 210px; display: inline-block; margin: 0px 20px 20px 0px; background: #2a2c2f;position: relative; z-index: 20 }
.olibrary_media_wrap { width: 267px; height: 150px; position: absolute; left:0px; top:0px;z-index:100; background-size: cover;background-position: center}

.olibrary_media_wrap.patternbg { background:url(../images/light_pattern_2x.png); background-size:16px 16px; background-repeat:repeat;  }
.olibrary_media_wrap.obj_med_darkbg { background: #2a2c2f; }
.ondarkpattern .olibrary_media_wrap,
.olibrary_media_wrap.darkpattern { background:url(../images/dark_pattern_2x.png) !important; background-size:16px 16px; background-repeat:repeat; }

.olibrary_media_wrap.lightpattern { background:url(../images/light_pattern_2x.png) !important; background-size:16px 16px; background-repeat:repeat; }

.olibrary_media_style { width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; display: block; background-size: cover}
.olibrary_content_wrap { width: 267px; height: 60px; position: absolute;top: 150px; left:0px; background: #2a2c2f; box-sizing: border-box; padding: 5px 10px 0px;transition: all 0.3s; z-index: 101;}
.olibrary_content_left { padding-right: 55px; box-sizing: border-box; display: block; position: relative}
.olibrary_content_right { position: absolute; top:10px; right:10px;}

.olibrary_media_overlay { width: 267px; height: 150px; position: absolute; top: 0px; left: 0px; background: rgba(0,109,210,0.75); z-index: 10;  opacity: 0; transition: all 0.3s; z-index: 101}
.olibrary_content_title  { color:#b7bbc0; font-size: 15px; font-weight: 500;  display: block; line-height: 25px; vertical-align: top; margin-bottom: 7px;transition: all 0.3s; width:230px; height:22px; overflow: hidden; margin-top:1px;}
.olibrary_content_type,
.olibrary_content_info   {  border:1px solid transparent;line-height: 14px; height: 16px; box-sizing: border-box; padding:0px 3px; display: inline-block;vertical-align: top; margin-right: 5px;  font-size:11px; text-transform: uppercase; font-weight: 500;transition: all 0.3s;}

i.olibrary_favorit.material-icons { color:rgba(255,255,255,0.25); font-size: 20px; box-sizing: border-box;   text-align: center; cursor: pointer;transition: all 0.3s;}
i.olibrary_favorit.material-icons:hover,
i.olibrary_favorit.material-icons.selected { color: #fff; }

.olibrary_item .olibrary_addimage_wrapper { display: block; text-align: center;top: 50%; position: absolute; left: 0px; width: 100%; height: 30px; transform: translateY(-50%); }

.olibrary_item i.material-icons.ol_link_to_deeper,
.olibrary_item .avtivationicon,
.olibrary_item i.material-icons.ol_link_to_add,
.olibrary_item i.material-icons.ol_link_to_view { cursor:pointer; text-align: center ; z-index: 20; width: 50px; height: 50px; line-height:50px !important; color:#006dd2; font-size:30px; position: absolute; top: 50px; left: 50%; margin-left: 5px; background: #fff; border-radius: 35px; display:none; box-shadow:0px 3px 10px 0px rgba(0,0,0,0.25); transition: all 0.3s; transform:translateX(30px);}

.olibrary_item .avtivationicon { width: auto;  font-size:15px; display: inline-block; height: 40px;line-height: 40px !important;padding: 0px 15px 0px 10px; white-space: nowrap; font-weight:600; margin: 0px; }
.olibrary_item .avtivationicon i { font-size: 25px; margin-right: 10px; }


.olibrary_item .ol_link_to_add_image { cursor:pointer; text-align: center; text-transform: uppercase; z-index: 20; width: 30px; height: 30px; line-height:30px !important; color:#006dd2; font-size:14px; font-weight:800; margin-right:5px; position: relative;  background: #fff; border-radius: 15px; display:inline-block; opacity:0; box-shadow:0px 3px 10px 0px rgba(0,0,0,0.25); transition: all 0.3s; transform:translateY(20px);}
.olibrary_item .ol_link_to_add_image:first-child { transition-delay: 0s; }
.olibrary_item .ol_link_to_add_image:nth-child(2) { transition-delay: 0.05s; }
.olibrary_item .ol_link_to_add_image:nth-child(3) { transition-delay: 0.1s; }
.olibrary_item .ol_link_to_add_image:nth-child(4) { transition-delay: 0.15s; }
.olibrary_item .ol_link_to_add_image:nth-child(5) { transition-delay: 0.2s; }
.olibrary_item .ol_link_to_add_image:last-child { margin-right: 0px }

.olibrary_item i.material-icons.ol_link_to_view { margin-left: -55px;transform:translateX(-30px); }

.olibrary_item .threeicons i.material-icons.ol_link_to_view { margin-left: -85px; }
.olibrary_item .threeicons i.material-icons.ol_link_to_add { margin-left: 35px; }

.olibrary_item .threeicons i.material-icons.ol_link_to_deeper { margin-left: -25px; transform:translateY(30px) translateX(0px); }

.olibrary_item .oneicon i.material-icons.ol_link_to_deeper,
.olibrary_item .oneicon i.material-icons.ol_link_to_add { margin-left: -25px; transform:translateY(30px) translateX(0px);}

.olibrary_item .avtivationicon {   transform:translateY(30px) translateX(-50%); }

.ol_svg_preview { text-align: center; position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); }
.ol_svg_preview svg { width: 100px; height: 100px; }
.ol_svg_preview svg path {  fill:#000; }

img.olib_png_obj { margin: auto; max-width: 100%;height: 150px;position: relative;display: block; }

.oc_package { color: #2a2c2f;; background: #ffda00; }
.oc_purple { color: #fff; background: #5e35b1; }
.oc_pink { color: #fff; background: #f82c90; }
.oc_blue { color: #fff; background: #006dd2; }
.oc_orange { color: #fff; background: #ff7700; }
.oc_red { color: #fff; background: #ff5858; }
.oc_green { color: #fff; background: #1f9939; }
.oc_cyan { color: #fff; background: #00c1d2; }
.oc_gray { color: #62666a; background: transparent; border: 1px solid #414448; }


.olti_green { color: #00ff00; }
.olti_red { color: #ff0000; }

.olti_icon.material-icons { font-size: 14px; line-height: 20px; margin-right: 5px; display: inline-block }



#objectlibrary .olibrary_media_wrap i.fonticonobj,
.olibrary_media_wrap i.fonticonobj {     display: block; font-size:75px;line-height: 150px;  vertical-align: top; text-align:center; color:#000;}
.olibrary_media_wrap i.fonticonobj.material-icons { width: 100%;height: 100%;line-height: 150px !important;}

.olibrary_item:hover { z-index: 40; }
.olibrary_item.selected { z-index: 60 }

.olibrary_item.selected i.material-icons.ol_link_to_deeper,
.olibrary_item.selected i.material-icons.ol_link_to_add,
.olibrary_item.selected i.material-icons.ol_link_to_view,
.olibrary_item.selected .ol_link_to_add_image,
.olibrary_item:hover i.material-icons.ol_link_to_deeper,
.olibrary_item:hover i.material-icons.ol_link_to_add,
.olibrary_item:hover .ol_link_to_add_image,
.olibrary_item:hover i.material-icons.ol_link_to_view {  opacity: 1; transform:translateX(0px) translateY(0px);}

.olibrary_item:hover .avtivationicon {  opacity: 1; transform:translateX(-50%) translateY(0px);}

.olibrary_item.selected .olibrary_content_title,
.olibrary_item.selected .olibrary_content_info,
.olibrary_item:hover .olibrary_content_title,
.olibrary_item:hover .olibrary_content_info { color: #fff; border-color: rgba(255,255,255,0.25); }

.olibrary_item.selected .olibrary_content_type,
.olibrary_item:hover .olibrary_content_type { background: #fff !important; color: rgba(0,109,210,1);}

.olibrary_item.selected .olibrary_content_wrap ,
.olibrary_item:hover .olibrary_content_wrap { background: rgb(0,109,210); }

.olibrary_item.selected .olibrary_media_overlay,
.olibrary_item:hover .olibrary_media_overlay { opacity: 1 }

.ol_template_info_wrap {background: #323438;  padding:0px; position: absolute; overflow:hidden; top:0px; left:100%; z-index: 95; box-sizing: border-box; transform-origin: 0% 0%; width:0px;height:0px; color:#777c80; font-size: 14px; line-height: 20px;  box-shadow:20px 0px 80px rgba(0,0,0,0.75); opacity:0;transform:translateX(20px);transition:opacity 0.6s, transform 0.3s, width 0s; overflow:hidden;}
.to_the_left .ol_template_info_wrap { left: auto; right: 100%;transform:translateX(-20px); transform-origin: 100% 0%}

.ol_template_info_wrap a,
.ol_template_info_wrap a:focus,
.ol_template_info_wrap a:visited { color: #b7bbc0;  outline:none;}

.ol_template_info_wrap a:hover { color: #006dd2;outline: none; }

.ol_template_info_wrap.left_tiw { left: auto; right: 100%;transform:translateX(-20px); }
.olti_title { color: #fff; font-size: 15px; line-height: 20px; margin-bottom: 10px; font-weight: 500 }
.olti_title.nmb { margin-bottom: 0px }


.olibrary_item.selected .ol_template_info_wrap { display:block; opacity: 1; transform: translateX(0px); width:340px; height:auto; padding:25px; }

.olibrary_item.selected .ol_template_info_wrap.videopreview { padding: 0px !important; vertical-align: top; margin: 0px; width: 374px !important;  }
#obj_library_mediapreview { width: 100%; height: auto; pointer-events: none; vertical-align: top; display: block;}


.olti_btn { background: #006dd2; color: #fff; font-size: 13px; line-height: 32px; font-weight: 400; padding: 0px 20px; border-radius: 4px; display: inline-block; box-sizing: border-box; vertical-align: top; cursor: pointer;}
.olti_btn i.material-icons { line-height: 32px;margin-right: 10px; font-size: 17px; vertical-align: top}

.olti_btn.notinstallable { pointer-events: none; background:#3a3e44; color:#777c80;}

#ol_results .rsl_breadcrumb_wrap { display: block; width: 100%; margin-bottom: 0px; border-top: 1px solid #323438; padding-top:15px; margin-bottom: 45px }
#ol_results .rsl_breadcrumb { display:inline-block; line-height:25px; vertical-align: top; color: #797b7e; font-size: 15px; margin-right:10px; cursor: pointer; font-weight: 500}
#ol_results .rsl_breadcrumb i.material-icons { display:inline-block; line-height:25px; vertical-align: top;  font-size: 25px; margin-right: 10px;  }
#ol_results .rsl_breadcrumb_div { display: inline-block; color: #797b7e; /*#323438;*/ margin-right: 10px; font-size: 25px; line-height: 25px; vertical-align: top }

#ol_results .rsl_breadcrumb:hover { color: #fff; }
#ol_modulessorting { display: inline-block }

.olti_content .tponoffwrap  { margin-top: 0px; margin-bottom: 10px; margin-right: 10px; }

/*************************************/
/* OVERVIEW LIST OF ELEMENTS WRAPPER */
/*************************************/

#slider_folders_wrap .rs_library_element { margin-right: 0px; }

.rs_library_element { width: 267px; height: 190px; display: inline-block; margin-right: 20px;margin-bottom: 20px; cursor: pointer; box-sizing: border-box; position: relative; background:#2a2c2f; z-index:50; vertical-align: top}
.rs_library_element .rsle_footer {  position: absolute; bottom: 0px; left: 0px;  width:100%;height:40px; background:#2a2c2f;z-index: 5}
.rs_library_element.selected,
.rs_library_element:hover{ z-index: 100; }

.rs_library_element.ui-draggable-dragging { z-index: 200000 !important; position: absolute; pointer-events: none; opacity:0.80 !important;}

.rs_library_element.ui-draggable-dragging .rsle_tbar  {display: none !important;  }
.rs_library_element .link_to_slideadmin, 
.rs_library_element .image_container { width: 100%; height: 150px; position: absolute; top: 0px;left: 0px; display: block; z-index: 10; background-size:cover; background-position: center center; background-repeat: no-repeat}
.rs_library_element .image_container_underlay {  z-index: 9; background: #2a2c2f; top: 0px;left: 0px; width: 100%;height: 150px; position: absolute }
.rs_library_element .image_container_underlay .rootfolder {  background: #2a2c2f; top: 0px;left: 0px; width: 100%;height: 150px; position: absolute }
.rs_library_element .image_container_underlay .rootfolder i.material-icons { font-size: 50px;
    text-align: center;
    color: #62666a;
    display: block;
    line-height: 50px !important;
    margin-bottom: 10px; 
    width: 100%;
    margin-top: 45px;
  }

.folder_library_element .image_container_underlay { background: #2a2c2f; }

.folder_library_element:hover,
.folder_library_element.selected,
.folder_library_element.menuopen {background:#006dd2; }

.folder_library_element:hover .image_container_underlay,
.folder_library_element.selected .image_container_underlay,
.folder_library_element.menuopen .image_container_underlay {background:#006dd2; }
.folder_img_placeholder { display: inline-block; width: 126px; height: 68px; background: #323438; vertical-align: top; background-size: cover; background-position: center center; background-repeat: no-repeat }

.folder_library_element.menuopen .folder_img_placeholder,
.folder_library_element.selected .folder_img_placeholder,
.folder_library_element:hover .folder_img_placeholder { background-color: #00529d; }

.rs_library_element.folder_library_element .link_to_slideadmin { background: transparent !important; opacity: 0; width: 100%;height: 150px;top: 0px;left: 0px; margin: 0px; }
.folder_img_1,
.folder_img_3 { margin-right: 5px; margin-left: 5px; }
.folder_img_1,
.folder_img_2 { margin-bottom: 5px; margin-top:5px;}

.folder_library_element .show_rsle { opacity: 0 !important }

.rs_library_element .link_to_slideadmin {text-align: center ; z-index: 20; width: 50px; height: 50px; position: absolute; top: 50px; left: 50%; margin-left: -25px; background: #fff; border-radius: 35px; display:none; box-shadow:0px 3px 10px 0px rgba(0,0,0,0.25);}
.rs_library_element:hover .link_to_slideadmin,
.rs_library_element.selected .link_to_slideadmin,
.rs_library_element.menuopen .link_to_slideadmin { display: block; }
.rs_library_element .link_to_slideadmin i.material-icons{ font-size: 30px; color: #006dd2; line-height: 50px !important;  }


.rs_library_element .title_container {  width: 245px; height: 40px; font-weight:500; line-height: 40px; position: absolute; bottom: 0px; left: 0px; font-size: 15px; color: #b7bbc0; padding: 0px 10px; background: transparent;box-sizing: border-box; border:none; outline:none; box-shadow: none; z-index: 2; margin:0px;}
.rs_library_element .title_container_overlay { width: 100%; height: 40px; line-height: 40px; position: absolute; bottom: 0px; left: 0px; background: transparent; z-index: 5; }

.rs_library_element.selected .title_container,
.rs_library_element.selected .rsle_folder,
.rs_library_element.menuopen .title_container,
.rs_library_element.menuopen .rsle_folder,
.rs_library_element:hover .title_container,
.rs_library_element:hover .rsle_folder { color: #fff; }

.rs_library_element .rsle_move_and_edit { position: absolute; top: 0px; left: 0px; width: 100%; height: 165px;  z-index: 15; background:transparent; cursor:move;}
.rs_library_element:hover .rsle_move_and_edit,
.rs_library_element.selected .rsle_move_and_edit,
.rs_library_element.menuopen .rsle_move_and_edit { background: #006dd2; opacity: 0.65; }

.rs_library_element.selected .rsle_footer,
.rs_library_element.menuopen .rsle_footer,
.rs_library_element:hover .rsle_footer {  position: absolute; bottom: 0px; left: 0px;  width:100%;height:40px; background:#006dd2; z-index: 5}

.show_rsle { position:absolute; color:#fff; font-size:20px; text-align: right; padding-right: 10px;  box-sizing: border-box;line-height:40px !important; width: 100%; background: transparent; height: 40px; bottom: 0px; right: 0px; z-index: 20; display: none !important; }

.rsle_folder {     position: absolute;bottom: 0px;right: 0px;width: 100%;height: 40px;color: #b7bbc0;z-index: 20;font-size: 20px;line-height: 40px;text-align: right; padding-right:10px;}


.rs_library_element.menuopen .show_rsle,
.rs_library_element:hover .show_rsle { display: block !important; }

.rs_library_element.selected .show_rsle { transform: scaleY(-1); transform-origin: "50% 50%"; width: 40px; }
.rs_library_element.selected .rsle_folder { width: 40px; }

.folder_library_element .rsle_tool.copyclipboard,
.folder_library_element .rsle_tool.exportslider, 
.folder_library_element .rsle_tool.duplicateslider, 
.folder_library_element .rsle_tool.previewslider { display: none; }

.ov-pagination { display: inline-block; margin-right: 20px; }
.page_button { font-size: 17px;color: #797b7e; font-weight: 500; display: inline-block; line-height: 30px; width: 30px; margin-right: 5px; text-align: center; cursor: pointer}
.page_button.selected,
.page_button:hover { background:#006dd2; color: #fff; }


/****************************
   - END OBJECT LIBRARY - 
****************************/


#rs_close_advert { position: absolute; top:-30px;right:0px;line-height: 30px; padding: 0px 10px; color: #62666a; font-size: 14px; font-weight: 600; cursor: pointer; background:#2a2c2f; }
#rs_close_advert:hover { color: #fff;background: #006dd2; }


/*****************************
          - SELECT 2 
*****************************/
.select2RS-container--open { z-index: 100010; }
span.select2RS-container.select2RS-container--inmodal.select2RS-container--open {z-index: 1000005;}

.select2RS-results,
.select2RS-container .select2RS-results > .select2RS-results__options { max-height: 250px }
.select2RS-container .select2RS-search--dropdown .select2RS-search__field { line-height: 20px; border: none !important; border-radius: 0px; box-shadow: none !important; outline: none !important; margin:0px; padding:0px 0px 0px 5px;  color: #b7bbc0; font-size: 13px; font-weight: 500;  }
.select2RS-container .select2RS-search--dropdown .select2RS-search__field { background: #2a2c2f;line-height: 37px; padding: 0px 10px; }
.select2RS-container .select2RS-dropdown { background-color: #2a2c2f; box-shadow: none; border:none;box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.5);}
.select2RS-container.select2RS-container--min90 .select2RS-dropdown { min-width: 90px }
.select2RS-container.select2RS-container--min120 .select2RS-dropdown { min-width: 120px }
.select2RS-container.select2RS-container--minl120 .select2RS-dropdown { min-width: 120px; transform: translateX(-52px); }
.select2RS-container.select2RS-container--min150 .select2RS-dropdown { min-width: 150px }
.select2RS-container .select2RS-results__option { color:#b7bbc0; font-size: 13px; padding: 6px 10px;     width: 100%;overflow: hidden;position: relative;box-sizing: border-box;white-space: nowrap;text-overflow: ellipsis;}
.select2RS-container .select2RS-results__option.select2RS-results__option--highlighted { color: #fff; background: #3f444a !important;  }
.select2RS-container .select2RS-results__option.select2RS-results__option--highlighted[aria-selected=true],
.select2RS-container .select2RS-results__option[aria-selected=true] { color: #fff; background: #006dd2 !important; }
.select2RS-container .select2RS-results__option[aria-selected=true] span i { color: #fff !important; }
.select2RS-container .select2RS-results__option[aria-disabled=true] { display: none !important; }
.select2RS-results__group { background: #343639;color: #777c80; font-size: 13px; font-weight: 500;  text-transform: capitalize; padding:6px 15px; margin-top:10px;margin-bottom:5px}

/*
	TOOLBAR WRAPS AND BUTTONS
*/
.outicon_dd_rwap,
.tool_dd_wrap { display: none; position: absolute; z-index: 10000; background: #2a2c2f; left:0px;top:50px; text-align: left; box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.5); max-width:250px;}
.toolbar_btn { color:#b7bbc0;  font-size: 14px; line-height: 50px; padding:0px 10px; text-align: left; display: inline-block; cursor: pointer; position: relative; font-weight: 500; height: 50px; vertical-align: top} 
.toolbar_btn>i.material-icons,
.toolbar_btn.justicon { width: 30px; padding: 0px; box-sizing: border-box;text-align: center; }
.toolbar_btn .material-icons { font-size: 16px; margin-right: 10px; }
.toolbar_btn.justicon .icon_switcher .material-icons { margin-right: 0px }
.toolbar_btn .selected_placeholder .material-icons { font-size: 17px; margin-right: 0px; }
.toolbar_btn i.toptoolbaricon.material-icons { margin-right: 0px; width:30px; text-align: center; font-size: 20px}
.toolbar_btn:hover { color: #fff;}
#_layer_settings .tool_dd_wrap .add_layer,
.tool_dd_wrap .add_slide,
.tool_dd_wrap .rc-menu-item { padding-left: 20px; }
.visiblestep_main:hover,
.lockstep_main:hover,
.outicon_dd_rwap .lockstep:hover,
.outicon_dd_rwap .visiblestep:hover,
.toolbar_dd_subdrop_wrap:hover >.add_layer,
.toolbar_dd_subdrop_wrap:hover >.add_slide,
.toolbar_dd_subdrop_wrap:not(.disabled):hover >.rc-menu-item,
.tool_dd_wrap .add_layer:hover,
.tool_dd_wrap .rc-menu-item:hover { background: #3F444D; }
.tool_dd_wrap .add_layer .material-icons,
.tool_dd_wrap .rc-menu-item .material-icons,
.tool_dd_wrap .add_slide .material-icons { font-size: 17px; margin-right:10px;}
.toolbar_btn:hover .tool_dd_wrap { display: block; min-width: 100%;}
.toolbar_btn.tool_drop:hover { border-radius: 4px 4px 0px 0px }
.toolbar_dd_subdrop_wrap:hover >.add_layer,
.toolbar_dd_subdrop_wrap:not(.disabled):hover >.rc-menu-item,
.tool_dd_wrap .add_layer:hover,
.tool_dd_wrap .rc-menu-item:hover { color: #fff; opacity: 1}
.toolbar_dd_subdrop_wrap:hover >.add_slide,
.tool_dd_wrap .add_slide:hover { color: #fff; opacity: 1; background:#3f444a;}
.outicon_dd_rwap { left: -15px; background: #323438; }
.tool_dd_wrap.fittoright { left: auto; right: 0px;padding-top: 10px; }
.outicon_dd_rwap .lockstep,
.outicon_dd_rwap .visiblestep,
.tool_dd_wrap .add_layer,
.tool_dd_wrap .rc-menu-item,
.outicon_dd_rwap .visiblestep_main,
.outicon_dd_rwap .lockstep_main,
.add_slide { color:#b7bbc0; cursor: pointer; padding:0px 20px; white-space: nowrap; line-height: 30px; font-size: 13px}
.toolbar_dd_subdrop { display: none; position: absolute; left: 100%; top: 0px;background: #2a2c2f;  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.25); white-space: nowrap}
.toolbar_dd_subdrop_wrap { position: relative}
.toolbar_dd_subdrop_wrap:not(.disabled):hover .toolbar_dd_subdrop { display: block; }
.toolbar_listelement.disabled,
.rc-menu-item.disabled { opacity:0.5;  cursor: default !important; pointer-events: none}
.rc-menu-wrap {position: absolute; z-index: 999999}
.rc-align-right .toolbar_dd_subdrop {left: auto; right: 100%;}
.rc-align-right .toolbar_dd_subdrop {left: auto; right: 100%;}
.rc-align-bottom .toolbar_dd_subdrop {top: auto; bottom: 0;}

.wp-block[data-type="themepunch/revslider"] .editor-block-toolbar > .components-toolbar svg {color: white; margin-right: 0}

/* hide visual composer block */
li[data-element='rev_slider_vc'] {display: none !important}

input[data-setting="revslidertitle"] {
  pointer-events: none;
  user-select: none;          
}

/*********************
    ON OFF BUTTON
**********************/
.tponoffwrap *, .tponoffwrap {user-select:none}

.tponoffwrap,
.fake_on_button  { cursor:pointer;display:inline-block; vertical-align:top; position:relative; width: 50px;height: 20px;line-height: 20px; border-radius: 10px;  overflow: hidden; background: #006dd2; box-sizing: border-box;margin-bottom: 15px; margin-top:5px; transform:translateZ(0.001px);}

.tponoff_inner,
.fake_on_button_inner { cursor:pointer;width: 120px;height: 20px;top: 0px;left: 0px; line-height: 25px; vertical-align: top; transform: translateX(-50px); transition:0.3s;}


.fake_onff_on,
.tponoff_on   { position:absolute;top: 0px;left: 51px;width: 50px;height: 20px;background: #006dd2;padding: 0px 11px;color: #fff;font-weight: 400; box-sizing: border-box; font-size: 11px;line-height:20px; text-align: right;text-transform: uppercase}


.fake_onff_off,
.tponoff_off  { position:absolute;top: 0px;left: 0px;width: 50px;height: 20px;background: #2a2c2f; padding: 0px 8px;color: #777c80;font-weight: 400; box-sizing: border-box; font-size: 11px;line-height: 20px;text-transform: uppercase; text-align: left}

.fake_onff_on:after,
.tponoff_on:after { content:" ";width: 12px;height: 12px; position: absolute;left: 4px;top: 4px; border-radius: 50%;background: #fff; box-sizing: border-box; }

.fake_onff_off:after,
.tponoff_off:after { content:" ";width: 12px;height: 12px; position: absolute;left: 32px;top: 4px; border-radius: 50%;background: #6a6f72; box-sizing: border-box; }

.tponoffwrap input { display: none; }
.tponoffwrap.off { background: #2a2c2f; }
#rbm_addon_details  .tponoffwrap.off .tponoff_inner,
#rb_tlw  .tponoffwrap.off .tponoff_inner,
#rs_overview  .tponoffwrap.off .tponoff_inner { transform: translateX(0px); }

.onoff_showonlystatus .tponoff_on,
.fake_on_button,
.fake_onff_on { background: #3f444a; }

.onoff_showonlystatus .tponoffwrap { background: transparent; }

.on_off_navig_wrap { position: absolute; top: 5px;right: 0px; background: transparent; width: 60px;height: 30px;  z-index: 1015;  }

.onoff_showonlystatus { pointer-events: none; display: inline-block}

#obj_addsliderasmodal {display: none; margin-left: 19px; margin-right: 0}
#obj_addsliderasmodal .tponoffwrap {margin: 0 0 0 10px; position: relative; top: 15px}
.revslider_block > span i {display: none; position: relative; top: 5px; margin-right: 7px}
.revslider_block[data-modal="true"] > span i {display: inline-block}

@media only screen and (max-width : 820px) {

  #ol_footer { padding-left: 300px; }

}



/*********************+*************
 - VISUAL COMPOSER STYLE CHANGE - 
*************************************/
.wpb_rev_slider .vc_general.vc_element-icon.icon-wpb-revslider,
.vc_general.vc_element-icon.icon-wpb-revslider { background: url(../images/rs6_number_2x.png); background-size: contain; }

